*.iml
*.ipr
*.iws
*.ids
**/.idea/
.mvn/timing.properties
/out/
**/logs/
**/log/
*.log
test*.txt
*.rds
*.rds.dump.report
*.rds.import.report
*pom.xml.versionsBackup
**/temp/
/deployer2-*
/sberflow/.project
/curcontrol-tcs-service/logs/
/curcontrol-tcs-service/allure-results/
local-repo
**/target/
